DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/mutux_db?schema=public"

# Server configuration
PORT=3000

# JWT Secrets
JWT_SECRET="fallbackSecretTokenForWeek1Dev"
JWT_REFRESH_SECRET="fallbackRefreshSecretTokenForWeek1Dev"
