DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/mutux_db?schema=public"

# Server configuration
PORT=3000
UPLOADS_DIR="./uploads"

# JWT Secrets
JWT_SECRET="fallbackSecretTokenForWeek1Dev"
JWT_REFRESH_SECRET="fallbackRefreshSecretTokenForWeek1Dev"

PAYOS_WEBHOOK_SECRET="test-secret"
MOCK_PAYOS_BANK_CODE="MB"
MOCK_PAYOS_ACCOUNT_NUMBER="999988886666"
MOCK_PAYOS_ACCOUNT_NAME="MUTUX DEMO"
